#tool-content{
	height: 800px;
	overflow: auto;
}

#tool-content div.tool-list{
	float: left;
	width: 15%;
	background-color: #3b312f;
	opacity: 0.9;
}

#tool-content div.tool-body{
	float: right;
	width: 85%;
}