#custom-content{
    height: 800px;
    overflow: auto;
}

#custom-content div.custom-list{
    color: #fff;
    float: left;
    width: 13%;
    padding-left: 50px;
    padding-top: 30px;
    background-color: #000;
    height: 800px;
    opacity: 0.7;
    filter:alpha(opacity=70);
}

#custom-content div.custom-body{
    float: right;
    width: 87%;
    height: 800px;
}

#custom-content div .custom-head{
    background-color: #2b2b2b;
    height: 100px;
    color: #fff;
    padding-top: 30px;
    padding-left: 70px;
    padding-right:50px; 
    opacity: 0.98;
}

#custom-content div .custom-head p{
    float:left;
    font-size: 24px;
}

#custom-content div .custom-head button{
    font-size: 18px;
    float: right;
    width: 80px;
    border:none;
    background-color: #7e7e7e;
    color: #fff;
}

#custom-content div .custom-head button a{
    color: #fff;
}

#custom-content div.custom-list ul li{
    font-size: 15px;
    list-style-type: none;
    line-height: 50px;
}

#custom-content div.custom-list ul li a{
    color: #bcb7b7;
    text-decoration: none;
}

#custom-content div.custom-list ul li .on{
    color: #fff;
}

