*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    _height:100%;
    height:100%;
}

body {
    min-height: 100%;
    _height:100%;
    height:100%;
}

.nav-bar {
    height: 51px;
    overflow: auto;
}

#nav-tabs {
    font-size: 20px;
}

#nav-tabs li{
    width: 105px;
    line-height: 51px;
    vertical-align: middle;
    text-align: center;
    border-left: 2px #C4C4C4 solid;
    list-style-type:none;
    background-color: #fff;
    float: right;
}

#nav-tabs li.sigh{
    float: left;
    border-left: none;
}

#nav-tabs li a {
    color: #6f6f6f;
    text-decoration: none;
    background-color: #fff;
}

#nav-tabs li a img{
    vertical-align: top;
}

#nav-tabs li a:hover{
    color: red;
}

#nav-tabs li.custom {
    width: 300px;
    text-align: left;
    padding-left: 15px;
}

.navbar {
    border-radius: 0px;
    background-color: #1a1a1a;
    margin: 0;
    border: none;
}

#navbar div a{
    color: #fff;
}

#navber div p{
    color: #7b7b7b;
}

#navbar div a:hover{
    color: red;
}

.carousel{
    overflow: auto;
    border-bottom: 4px black solid;
}

#myCarousel a{
    font-size: 300px;
    vertical-align: text-bottom;
}

.bottom{
    height: 100px;
    padding-left: 25px;
    overflow: auto;
}

#bottom li{
    float: left;
    line-height: 50px;
    text-align: center;
    list-style-type: none;
    font-size: 20px;
    width: 100px;
}

#bottom .logo{
    font-size: 30px;
}

/*register*/

#register-head {
    height: 300px;
    background-color: #2b2b2b;
    overflow: auto;
    color: #fff;
    padding-left: 100px;
    padding-top: 20px;
}

#register-head h4{
    line-height: 50px;
}

#register-head ul li{
    line-height: 50px;
    margin-left: 40px;
    float: left;
    list-style-type: none;
    width: 300px;
    text-align: center;
}

#register-content{
    padding-top: 120px; 
    padding-right: 230px;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 100px;
}

#register-content div{
    color: #6f6f6f;
    width: 200px;
    margin-top: 40px;
    margin-left: 645px;
    text-align: left;
}

#register-content div input{
    margin-top: 20px;
    font-size: 20px;
}

#register-content div button{
    font-size: 17px;
    width: 50px;
    margin-top: 35px;
    margin-left: 110px;
    color: #fff;
    background-color: #2b2b2b;
    border:none;
}

/*login*/
#login-content{
    padding-top: 120px; 
    padding-right: 230px;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 100px;
}

#login-content div{
    color: #6f6f6f;
    width: 300px;
    margin-top: 40px;
    margin-left: 645px;
    text-align: left;
}

#login-content div input{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

#login-content div button{
    font-size: 17px;
    width: 50px;
    margin-top: 10px;
    margin-left: 100px;
    color: #fff;
    background-color: #2b2b2b;
    border:none;
}

#login-content div p{
    margin-top: 10px;
    margin-bottom: 30px;
}

#login-content div p a{
    color: #1a1a1a;
    text-decoration: underline #1a1a1a;
}


/*accountInfo*/

#custom-content{
    height: 1000px;
    background-color: #000;
    overflow: auto;
}

#custom-content div.custom-list{
    color: #fff;
    float: left;
    padding-left: 50px;
    padding-top: 30px;
}

#custom-content div.custom-list ul li{
    font-size: 15px;
    list-style-type: none;
    line-height: 50px;
}

#custom-content div.custom-list ul li a{
}
