#tool-content{
	height: 1000px;
	overflow: auto;
}

#tool-content div.tool-list{
	float: left;
	padding-top: 100px;
	overflow: auto;
	width: 15%;
	background-color: #3b312f;
	height: 1000px;
}

#tool-content div.tool-list ul li{
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
}

#tool-content div.tool-list ul .on{
	background-color: #554d4a;
}

#tool-content div.tool-list ul li a{
	color: #fff;
	text-decoration: none;
}

#tool-content div.tool-body{
	overflow: auto;
	float: right;
	width: 85%;
}

#tool-content .tool-body .tool-head{
	height: 60px;
	padding-top: 20px;
	padding-left: 40px;
	color: #3b312f;
	font-size: 20px;
	border-bottom: 2px #3b312f solid; 
}

#tool-content .tool-body .tool-head input{
	margin-left: 20px;
}

#tool-content .tool-body .fade{
	background-color: #000;
	margin-top: 10px;
}

#tool-content .tool-body .fade .tools div{
	width: 350px;
	margin-right: 8px;
	float: left;
	background-color: #e8e8e8;
	margin-bottom: 50px;
}

#tool-content div.tool-body .fade .tools div p{
	text-align: center;
	margin-top: 20px;
}
